
*, *:before, *:after {
    box-sizing: border-box;
}


html,
body {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.table-container {
    width: 100%;
    overflow: hidden;
}

table {
  background: #012B39;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
  width: calc(100% - 2em);
}
th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
.disabled td {
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}




/* Mermaid Styling */


.mermaid .classGroup rect {
  fill: #fdf6e3 !important;
  stroke: gray !important;
}
.mermaid .classGroup text {
  fill: gray !important;
}
.mermaid .classGroup text.title {
   fill: black !important;
}
.mermaid .classGroup line {
  fill: gray !important;
  stroke: gray !important;
}