
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Mermaid Styling */


.mermaid .classGroup rect {
  fill: #fdf6e3 !important;
  stroke: gray !important;
}
.mermaid .classGroup text {
  fill: gray !important;
}
.mermaid .classGroup text.title {
   fill: black !important;
}
.mermaid .classGroup line {
  fill: gray !important;
  stroke: gray !important;
}